<!DOCTYPE html>
<html>
  <head>
    <title>DBMS Innovative Project</title>
    <link rel="stylesheet" href="/static/login.css">
  </head>
  <body>
    <div>
      <h1>Company Login</h1>

      <form method="post" action="/login">
        <label for="email">Username:</label>
        <input type="text" name="email" id="email" required>
      
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
      </form>
    </body>
    </html>
          