
<!DOCTYPE html>
<html>
<head>
	<title>Food Supply Chain Management System</title>
	<link rel="stylesheet" href="/static/login_success.css">
</head>
<body>
	<p class="success-msg">Login Successful</p>
	<div class="container">
		<h2>Manage Your Products</h2>
		<ul>
			<li><a href="/products">Insert Product</a></li>
			<li><a href="/customers">Insert Customer</a></li>
			<li><a href="/orders">Insert Order</a></li>
			<li><a href="/">View and Modify Orders</a></li>
		</ul>
	</div>
</body>
</html>

